/* Explore.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.predicted-word {
  
  color: grey; /* Change the color to your preferred style */
  font-style: italic; /* Add italic style to the predicted word */
  margin-bottom: 10px; /* Add margin for separation from the textarea */
}

textarea {
  width: 50%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px; /* Add margin for separation from the button */
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}